<div class="ui inverted blue massive menu attached">
    <div class="launch icon item active link">
        <i class="icon content"></i>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent inverted icon input">
                <i class="search icon"></i>
                <input placeholder="Procurar" type="text">
            </div>
        </div>
        <div class="item link">
            <i class="mail outline icon"></i>
            <div class="ui top right attached violet label mini">4</div>
            {#<div class="ui teal label bottom right corner">22</div>#}
        </div>
        <div class="item link">
            <i class="alarm outline icon"></i>
            <div class="ui top right attached teal label mini">10</div>
        </div>
        <div class="item link">
            <i class="warning sign icon"></i>
            <div class="ui top right attached yellow label mini">1</div>
        </div>
        <div class="item">
            <small>hello, Username</small>
        </div>
        <a class="item">
            <i class="icon sign out"></i>
        </a>
    </div>
</div>